[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/bundle/start/lightline"]
	path = pack/bundle/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/bundle/start/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/bundle/start/vim-prettier"]
	path = pack/bundle/start/vim-prettier
	url = https://github.com/prettier/vim-prettier.git
[submodule "pack/bundle/start/ycm"]
	path = pack/bundle/start/ycm
	url = git@github.com:Valloric/YouCompleteMe.git
[submodule "pack/bundle/start/vim-polyglot"]
	path = pack/bundle/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/bundle/start/nerdtree"]
	path = pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/bundle/start/lightline-gruvbox"]
	path = pack/bundle/start/lightline-gruvbox
	url = https://github.com/shinchu/lightline-gruvbox.vim.git
[submodule "pack/bundle/start/vim-node"]
	path = pack/bundle/start/vim-node
	url = https://github.com/moll/vim-node.git
