[submodule "pack/bundle/start/vim-surround"]
	path = pack/bundle/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/bundle/start/iceberg"]
	path = pack/bundle/start/iceberg
	url = git@github.com:cocopon/iceberg.vim.git
[submodule "pack/bundle/start/lightline"]
	path = pack/bundle/start/lightline
	url = git@github.com:itchyny/lightline.vim.git
[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "pack/bundle/start/vim-jsx"]
	path = pack/bundle/start/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "pack/bundle/start/vim-javascript"]
	path = pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
